/**
 * This is variable
 **/
@primary: #FF461F;
// @color2: #1e80ff;
// @middle: 1440px;
// @small: 1024px;


/**
 * This is common
 **/
body {
  background-color: #1D1E1E;
}

.wrap {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  // @media (max-width: @middle) {
  //   max-width: 1000px;
  // }
  // @media (max-width: @small) {
  //   margin: 0 15px;
  // }
  &:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 0;
    line-height: 0;
    font-size: 0;
  }
}

.rich {
  line-height: 2;
  text-align: justify;
  img {
    max-width: 100%;
  }
}


.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  .logo {
    float: left;
    margin: 36px;
    a {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 0 15px;
      img {
        height: 45px;
      }
      & + a {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          margin: -18px 0 0 -16px;
          width: 0;
          height: 36px;
          border-left: 1px solid #666666;
        }
      }
    }
  }
  .lang {
    float: right;
    margin: 30px 36px 30px 15px;
    position: relative;
    &:hover {
      .drop {
        display: block;
      }
    }
    .point {
      display: block;
      width: 70px;
      height: 24px;
      line-height: 24px;
      border-radius: 3px;
      text-align: center;
      background: @primary;
      color: #ffffff;
      font-size: 12px;
      &::after {
        content: '';
        width: 8px;
        height: 6px;
        background: url(../img/icon-xia.png) center center no-repeat;
        display: inline-block;
        vertical-align: 2px;
        margin: 0 0 0 5px;
      }
    }
    .drop {
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
      padding: 2px 0 0 0;
      display: none;
      dl {
        position: relative;
        background: @primary;
        padding: 5px 0;
        border-radius: 3px;
      }
      dd {
        position: relative;
      }
      a {
        display: block;
        height: 24px;
        line-height: 24px;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  .nav {
    float: right;
    margin: 20px 0;
    .list {
      float: left;
    }
    .item {
      float: left;
      &.is-active {
        .link {
          color: @primary;
        }
      }
    }
    .link {
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      color: #666666;
      &:hover {
        color: @primary;
      }
    }
  }
}




/**
 * This is homepage
 **/
.home-page {
  position: relative;
  & > .swiper-wrapper {
    width: 100vw;
    height: 100vh;
    & > .swiper-slide {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      &.x1 {
        background: url(../img/hm-x1.png) 80vw bottom no-repeat;
        background-size: auto 50vh;
        background-color: #1D1E1E;
      }
      &.x2 {
        background: url(../img/hm-x2.png) 10vw bottom no-repeat;
        background-size: auto 40vh;
        background-color: #1D1E1E;
      }
      &.x7 {
        background: url(../img/hm-x7.png) 0 bottom no-repeat;
        background-color: #1D1E1E;
      }
    }
  }
}

.home-page__luqu {
  .list {
    display: flex;
    .item {
      flex: 1;
      .cell {
        height: 100%;
        width: 22vw;
        margin:  50px;
        padding: 50px;
        background: #2B2B2B;
        border-radius: 100px;
        overflow: hidden;
        .number {
          height: 200px;
          line-height: 200px;
          white-space: nowrap;
          margin: 0 0 100px;
          text-align: center;
          span {
            font-size: 24px;
            color: #ffffff;
          }
          b {
            font-size: 160px;
            font-weight: normal;
            color: @primary;
          }
          em {
            font-style: normal;
            font-size: 80px;
            color: @primary;
          }
        }
        .desc {
          margin: 0 0 0 2vw;
          line-height: 50px;
          font-size: 18px;
          color: #ffffff;
        }
        .imp {
          margin: 0 0 0 2vw;
          line-height: 40px;
          font-size: 24px;
          color: @primary;
        }
      }
    }
  }
}

.home-page__about {
  margin: 0 10vw;
  .slog {
    float: left;
    width: 40vw;
    h3 {
      line-height: 50px;
      font-weight: normal;
      font-size: 22px;
      color: @primary;
    }
    h2 {
      line-height: 60px;
      font-size: 50px;
      color: #ffffff;
      font-weight: normal;
      margin: 0 0 30px;
    }
    p {
      line-height: 40px;
      font-size: 20px;
      color: #D9D5CF;
    }
    span {
      display: block;
      line-height: 30px;
      font-size: 18px;
      color: #D9D5CF;
    }
  }
  .info {
    margin: 0 0 0 40vw;
    .tabed {
      position: relative;
      overflow: hidden;
      margin: 0 0 30px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      dd {
        &.is-active {
          .icon {
            img {
              &:first-child {
                display: none;
              }
            }
          }
        }
        &:first-child {
          .cell {
            margin: 0 0 0 0;
          }
        }
        &:last-child {
          .cell {
            margin: 0 0 0 auto;
          }
        }
        .cell {
          width: 70px;
          .icon {
            width: 70px;
            height: 70px;
            cursor: pointer;
            overflow: hidden;
            margin: 0 0 30px;
          }
          .line {
            margin: 0 auto;
            width: 12px;
            height: 4px;
            background: #D9D5CF;
          }
        }
      }
    }
    .switch {
      margin: 0 0 50px;
      dd {
        display: none;
        &.is-active {
          display: block;
        }
        p {
          font-size: 16px;
          color: @primary;
        }
      }
    }
    .summary {
      p {
        line-height: 40px;
        font-size: 18px;
        color: #D9D5CF;
        margin: 0 0 50px;
      }
      .mo {
        display: inline-block;
        padding: 0 30px;
        height: 50px;
        line-height: 50px;
        background: @primary;
        color: #ffffff;
        border-radius: 30px;
        span {
          font-size: 20px;
        }
      }
    }
  }
}

.home-page__team {
  position: absolute;
  left: 10vw;
  right: 10vw;
  bottom: 0;
  width: 80vw;
  padding: 60px;
  background: #ffffff;
  .thead {
    position: relative;
    text-align: center;
    margin: 0 0 20px;
    h2 {
      line-height: 40px;
      font-size: 22px;
      color: @primary;
      font-weight: normal;
    }
    h3 {
      line-height: 50px;
      font-size: 40px;
      font-weight: normal;
      color: #000000;
    }
  }
  .tbody {
    position: relative;
    .swiper-wrapper {
      padding: 0 0 60px;
      .swiper-slide {
        padding: 100px 0 0 0;
        .cell {
          position: relative;
          background: #F5F8FA;
          border-radius: 30px;
          padding: 30px 30px 60px;
          .cover {
            position: absolute;
            right: 50px;
            top: -50px;
            img {
              width: 170px;
              height: 170px;
              border-radius: 50%;
            }
          }
          .name {
            line-height: 50px;
            font-size: 30px;
            color: #000000;
          }
          .mo {
            position: relative;
            margin: 0 0 30px;
            a {
              display: block;
              width: 50px;
              height: 50px;
              overflow: hidden;
              text-indent: -99em;
              background: url(../img/icon-mo.png) 0 0 no-repeat;
              &:hover {
                background-position:  -50px 0;
              }
            }
          }
          .desc {
            margin: 0 20px 10px 0;
            line-height: 30px;
            font-size: 20px;
            color: #000000;
          }
          .mico {
            line-height: 24px;
            font-size: 16px;
            color: #999999;
          }
        }
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
          width: 16px;
          background: @primary;
          border-radius: 16px;
        }
      }
    }
  }
}

.home-page__huaying {
  position: relative;
  width: 100vw;
  .thead {
    margin: 0 10vw 80px;
    h2 {
      line-height: 40px;
      font-size: 22px;
      font-weight: normal;
      color: @primary;
    }
    h3 {
      line-height: 60px;
      font-size: 50px;
      font-weight: normal;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  .tbody {
    margin: 0 -10vw 0 0;
    .cell {
      position: relative;
      padding: 50px;
      background: #2B2B2B;
      border-radius: 80px;
      &:hover {
        background: @primary;
        color: #ffffff;
      }
      .title {
        line-height: 50px;
        font-size: 24px;
        a {
          color: #ffffff;
        }
      }
      .date {
        line-height: 60px;
        font-size: 16px;
      }
      .summary {
        line-height: 30px;
        font-size: 16px;
      }
    }
  }
}

.home-page__contact {
  position: relative;
  margin: 10vw;
  width: 80vw;
  .thead {
    display: flex;
    position: relative;
    margin: 0 0 100px;
    h2 {
      flex: 1;
      line-height: 160px;
      font-size: 180px;
      font-weight: normal;
      color: #ffffff;
      font-family: 'Century Gothic';
      text-transform: uppercase;
      letter-spacing: 20px;
    }
    .rcode {
      width: 160px;
      img {
        display: block;
        width: 160px;
        height: 160px;
      }
    }
  }
  .tbody {
    position: relative;
    overflow: hidden;
    .icon {
      float: left;
      img {
        display: block;
        height: 124px;
      }
    }
    .address {
      margin: 0 0 0 300px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      .item {
        h3 {
          line-height: 40px;
          font-size: 30px;
          font-weight: normal;
          color: #ffffff;
        }
        h4 {
          line-height: 60px;
          font-size: 20px;
          font-weight: normal;
          color: @primary;
        }
        dd {
          line-height: 20px;
          margin: 0 0 10px;
        }
      }
    }
  }
}

.home-page__admission {
  .thead {
    position: relative;
    text-align: center;
    margin: 0 0 80px;
    h2 {
      line-height: 60px;
      font-size: 45px;
      font-weight: normal;
      color: #ffffff;
      span {
        color: @primary;
      }
    }
    h4 {
      line-height: 40px;
      font-size: 20px;
      font-weight: normal;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  .tbody {
    .list {
      display: flex;
      .item {
        flex: 1;
        .cell {
          height: 100%;
          width: 22vw;
          margin:  0 100px;
          padding: 50px 50px;
          background: #2B2B2B;
          border-radius: 100px;
          overflow: hidden;
        }
      }
    }
    .line1x {
      margin: 20px 0;
      .line1 {
        line-height: 50px;
        font-size: 50px;
        color: @primary;
        span {
          vertical-align: middle;
          font-size: 18px;
          color: #ffffff;
        }
        b {
          font-weight: normal;
        }
      }
      .line2 {
        line-height: 120px;
        font-size: 100px;
        color: @primary;
        span {
          vertical-align: middle;
          font-size: 18px;
          color: #ffffff;
        }
        b {
          font-weight: normal;
        }
      }
      .linex {
        line-height: 30px;
        font-size: 18px;
        color: #ffffff;
      }
      .linex2 {
        line-height: 35px;
        font-size: 24px;
        color: @primary;
      }
    }
  }
}