/**
 * This is variable
 **/
/**
 * This is style for about
 **/
.page-about {
  position: relative;
  margin: 0 0 30px;
}
@media (max-width: 1024px) {
  .page-about {
    margin: 0 0 15px;
  }
}
.page-about .detail {
  padding: 30px;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .page-about .detail {
    padding: 15px;
  }
}
.page-about__mission {
  position: relative;
  background: #ffffff;
}
.page-about__mission .rows {
  position: relative;
  padding: 30px;
}
@media (max-width: 1024px) {
  .page-about__mission .rows {
    padding: 15px;
  }
}
.page-about__mission .rows + .rows::before {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  border-bottom: 1px solid #e5e5e5;
}
@media (max-width: 1024px) {
  .page-about__mission .rows + .rows::before {
    left: 15px;
    right: 15px;
  }
}
.page-about__mission .cell {
  position: relative;
  overflow: hidden;
}
.page-about__mission .label {
  float: left;
}
@media (max-width: 1024px) {
  .page-about__mission .label {
    float: none;
  }
}
.page-about__mission .label h2 {
  line-height: 1.5;
  font-size: x-large;
  color: #333333;
}
.page-about__mission .label h2 b {
  color: #ca2b2f;
}
.page-about__mission .label p {
  line-height: 2;
  font-size: large;
  color: #333333;
}
.page-about__mission .control {
  margin: 0 0 0 300px;
}
@media (max-width: 1024px) {
  .page-about__mission .control {
    margin: 0;
  }
}
.page-about__mission .control h3 {
  line-height: 2;
  font-size: large;
  color: #333333;
  font-weight: normal;
}
.page-about__mission .control h4 {
  line-height: 1.5;
  color: #bbbbbb;
  font-family: Helvetica;
  font-weight: normal;
  margin: 0 0 20px;
}
.page-about__mission .control p {
  line-height: 2;
  text-align: justify;
}
.page-about__mission .control img {
  display: block;
  margin: 0 0 5px;
  width: 100%;
}
.page-about__imgfix .thead {
  position: relative;
  text-align: center;
  margin: 0 0 40px;
}
@media (max-width: 1024px) {
  .page-about__imgfix .thead {
    margin: 0 0 20px;
  }
}
.page-about__imgfix .thead h2 {
  line-height: 2;
  font-size: 40px;
  color: #bbbbbb;
}
@media (max-width: 1024px) {
  .page-about__imgfix .thead h2 {
    font-size: 24px;
  }
}
.page-about__imgfix .thead h3 {
  line-height: 1.5;
  font-size: 20px;
  color: #333333;
}
@media (max-width: 1024px) {
  .page-about__imgfix .thead h3 {
    font-size: 16px;
  }
}
.page-about__imgfix .tbody {
  position: relative;
}
.page-about__imgfix .tbody .wrap {
  position: relative;
  padding: 100px 0;
  z-index: 1;
}
@media (max-width: 1024px) {
  .page-about__imgfix .tbody .wrap {
    padding: 30px 0;
  }
}
.page-about__imgfix .tbody .imgfix {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background: url() 50% 0 no-repeat #000000;
  background-size: contain;
  background-attachment: fixed;
}
@media (max-width: 1024px) {
  .page-about__imgfix .tbody .imgfix {
    background-size: cover;
  }
}
.page-about__imgfix .tbody .text {
  position: relative;
}
.page-about__imgfix .tbody h2 {
  margin: 0 0 10px;
  line-height: 1.5;
  font-size: 22px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .page-about__imgfix .tbody h2 {
    font-size: 20px;
  }
}
.page-about__imgfix .tbody p {
  max-width: 500px;
  margin: 0 0 40px;
  line-height: 1.5;
  font-size: 16px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .page-about__imgfix .tbody p {
    margin: 0 0 20px;
    font-size: 14px;
  }
}
.page-about__imgfix .tbody a {
  display: inline-block;
  padding: 0 50px;
  line-height: 50px;
  background: #ca2b2f;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
}
@media (max-width: 1024px) {
  .page-about__imgfix .tbody a {
    padding: 0 30px;
    line-height: 40px;
    font-size: 14px;
  }
}
/**
 * This is style for contact
 **/
.page-contact {
  position: relative;
}
.page-contact .detail {
  padding: 30px;
  overflow: hidden;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .page-contact .detail {
    padding: 15px;
  }
}
.page-contact .detail .content {
  float: left;
  width: 450px;
}
@media (max-width: 1024px) {
  .page-contact .detail .content {
    float: none;
    width: 100%;
  }
}
.page-contact .detail .map {
  margin: -30px -30px -30px 500px;
}
@media (max-width: 1024px) {
  .page-contact .detail .map {
    margin: 0 -30px -30px;
  }
}
.page-contact .detail2 {
  padding: 30px;
  overflow: hidden;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .page-contact .detail2 {
    padding: 15px;
  }
}
.page-contact .detail2 .content {
  margin: 0 0 20px;
}
@media (max-width: 1024px) {
  .page-contact .detail2 .map {
    margin: 0 -30px -30px;
  }
}
.page-contact__store {
  padding: 30px 0 0;
}
@media (max-width: 1024px) {
  .page-contact__store {
    padding: 10px 0;
  }
}
.page-contact__store .thead {
  position: relative;
}
@media (max-width: 1024px) {
  .page-contact__store .thead {
    padding: 0 15px;
  }
}
.page-contact__store .thead h2 {
  line-height: 2;
  font-size: xx-large;
  color: #333333;
}
.page-contact__store .tbody .list {
  position: relative;
  margin: 0 -15px;
  display: table;
}
@media (max-width: 1024px) {
  .page-contact__store .tbody .list {
    margin: 0;
    padding: 8px;
  }
}
.page-contact__store .tbody .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1024px) {
  .page-contact__store .tbody .item {
    width: 100%;
  }
}
.page-contact__store .tbody .cell {
  position: relative;
  background: #ffffff;
  margin: 15px;
  padding: 30px 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
}
@media (max-width: 1024px) {
  .page-contact__store .tbody .cell {
    margin: 7px;
  }
}
.page-contact__store .tbody .cell:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.page-contact__store .tbody .cell h3 {
  line-height: 20px;
  font-size: large;
  color: #333333;
  margin: 0 0 10px;
}
.page-contact__store .tbody .cell dd {
  line-height: 20px;
  margin: 0 0 10px;
}
/**
 * This is style for message
 **/
.page-message {
  position: relative;
}
.page-message .detail {
  padding: 30px;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .page-message .detail {
    padding: 15px;
  }
}
.page-message .detail .rich {
  position: relative;
  margin: 0 0 20px;
}
.page-message .detail .rich h2 {
  line-height: 1.5;
  color: #333333;
  font-size: larger;
  margin: 0 0 10px;
}
.page-message .detail .rich p {
  line-height: 1.8;
}
.page-message .form {
  position: relative;
  display: block;
}
@media (max-width: 1024px) {
  .page-message .form {
    margin: 0 -15px -15px;
    padding: 15px;
    background: #f5f5f5;
  }
}
.page-message .form .item {
  position: relative;
  overflow: hidden;
  margin: 0 0 20px;
}
@media (max-width: 1024px) {
  .page-message .form .item {
    margin: 0 0 10px;
  }
}
.page-message .form .item .label {
  float: left;
  width: 80px;
  line-height: 40px;
  text-align: right;
}
@media (max-width: 1024px) {
  .page-message .form .item .label {
    line-height: 50px;
    float: none;
  }
}
.page-message .form .item .label label {
  color: #333333;
  font-size: 16px;
}
.page-message .form .item .control {
  position: relative;
  margin: 0 0 0 80px;
  padding: 0 0 0 10px;
}
@media (max-width: 1024px) {
  .page-message .form .item .control {
    margin: 0;
    padding: 0;
  }
}
.page-message .form .item .control .text {
  position: relative;
}
.page-message .form .item .control .text input {
  max-width: 300px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
@media (max-width: 1024px) {
  .page-message .form .item .control .text input {
    max-width: 100%;
  }
}
.page-message .form .item .control .text textarea {
  max-width: 100%;
  width: 100%;
  height: 140px;
  line-height: 20px;
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.page-message .form .item .control .button {
  position: relative;
}
.page-message .form .item .control .button input {
  height: 50px;
  padding: 0 50px;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .page-message .form .item .control .button input {
    width: 100%;
  }
}
.page-message .form .item .control .button input:hover {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.page-message .form .item .control .button input + input {
  margin: 0 0 0 20px;
}
.page-message .form .item .control .button input[type='submit'] {
  background: #ca2b2f;
  color: #ffffff;
}
.page-message .form .item .control .button input[type='reset'] {
  background: #dddddd;
  color: #666666;
}
/**
 * This is style for news
 **/
.news-list {
  position: relative;
}
.news-list .list {
  overflow: hidden;
  background: #ffffff;
}
.news-list .list .item::after {
  content: '';
  display: block;
  margin: 0 30px;
  border-bottom: 1px solid #eeeeee;
}
.news-list .list .item .cell {
  position: relative;
  margin: 20px 30px;
  display: block;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .news-list .list .item .cell {
    margin: 15px;
  }
}
.news-list .list .item .inf {
  position: relative;
  padding: 0 120px 0 0;
}
.news-list .list .item .inf h3 {
  line-height: 30px;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .news-list .list .item .inf h3 {
    line-height: 20px;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
.news-list .list .item .inf dl {
  position: absolute;
  right: 0;
  top: 0;
}
.news-list .list .item .inf dl dd {
  display: inline-flex;
  line-height: 20px;
  font-size: 16px;
  color: #999999;
}
.news-list .list2 {
  position: relative;
  overflow: hidden;
  background: #ffffff;
}
.news-list .list2 .item::after {
  content: '';
  display: block;
  margin: 0 30px;
  border-bottom: 1px solid #eeeeee;
}
.news-list .list2 .item .cell {
  position: relative;
  margin: 30px;
  display: block;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .news-list .list2 .item .cell {
    margin: 15px;
  }
}
.news-list .list2 .item .inf {
  position: relative;
}
.news-list .list2 .item .inf h3 {
  line-height: 20px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .news-list .list2 .item .inf h3 {
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
.news-list .list2 .item .inf dl {
  position: relative;
  margin: 0 0 10px;
}
@media (max-width: 1024px) {
  .news-list .list2 .item .inf dl {
    margin: 0;
  }
}
.news-list .list2 .item .inf dl dd {
  display: inline-flex;
  line-height: 30px;
  color: #999999;
}
.news-list .list2 .item .inf dl dd + dd {
  margin: 0 0 0 30px;
}
@media (max-width: 1024px) {
  .news-list .list2 .item .inf dl dd + dd {
    margin: 0 0 0 10px;
  }
}
.news-list .list2 .item .inf p {
  line-height: 25px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (max-width: 1024px) {
  .news-list .list2 .item .inf p {
    display: none;
  }
}
.news-list .list3 {
  position: relative;
  overflow: hidden;
  background: #ffffff;
}
.news-list .list3 .item .cell {
  position: relative;
  margin: 30px;
  display: block;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .news-list .list3 .item .cell {
    margin: 15px;
  }
}
.news-list .list3 .item .img {
  float: left;
  width: 240px;
}
@media (max-width: 1024px) {
  .news-list .list3 .item .img {
    width: 100px;
  }
}
.news-list .list3 .item .img a {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.news-list .list3 .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
}
.news-list .list3 .item .inf {
  position: relative;
  margin: 0 0 0 260px;
}
@media (max-width: 1024px) {
  .news-list .list3 .item .inf {
    margin: 0 0 0 120px;
  }
}
.news-list .list3 .item .inf h3 {
  line-height: 20px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .news-list .list3 .item .inf h3 {
    height: 40px;
    margin: 0 0 5px;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
.news-list .list3 .item .inf dl {
  position: relative;
  margin: 0 0 20px;
}
@media (max-width: 1024px) {
  .news-list .list3 .item .inf dl {
    margin: 0 0 0;
  }
}
.news-list .list3 .item .inf dl dd {
  display: inline-flex;
  line-height: 30px;
  color: #999999;
}
.news-list .list3 .item .inf dl dd + dd {
  margin: 0 0 0 30px;
}
@media (max-width: 1024px) {
  .news-list .list3 .item .inf dl dd + dd {
    margin: 0 0 0 10px;
  }
}
.news-list .list3 .item .inf p {
  height: 75px;
  line-height: 25px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (max-width: 1024px) {
  .news-list .list3 .item .inf p {
    display: none;
  }
}
.news-list .list4 {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .news-list .list4 {
    padding: 8px;
  }
}
.news-list .list4 .item {
  float: left;
  width: 25%;
}
@media (max-width: 1440px) {
  .news-list .list4 .item {
    width: 33.33%;
  }
}
@media (max-width: 1024px) {
  .news-list .list4 .item {
    width: 50%;
  }
}
.news-list .list4 .item .cell {
  position: relative;
  margin: 15px;
  display: block;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .news-list .list4 .item .cell {
    margin: 7px;
  }
}
.news-list .list4 .item .cell:hover .img img {
  transform: scale(1.1);
}
.news-list .list4 .item .img {
  width: 100%;
}
.news-list .list4 .item .img a {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.news-list .list4 .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.news-list .list4 .item .inf {
  position: relative;
  background: #ffffff;
  padding: 20px 20px 0;
}
@media (max-width: 1024px) {
  .news-list .list4 .item .inf {
    padding: 10px;
  }
}
.news-list .list4 .item .inf h3 {
  line-height: 20px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  margin: 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .news-list .list4 .item .inf h3 {
    height: 40px;
    margin: 0 0 5px;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
.news-list .list4 .item .inf p {
  height: 75px;
  line-height: 25px;
  margin: 0 0 20px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media (max-width: 1024px) {
  .news-list .list4 .item .inf p {
    display: none;
  }
}
.news-list .list4 .item .inf dl {
  position: relative;
  border-top: 1px solid #dddddd;
  display: flex;
}
@media (max-width: 1024px) {
  .news-list .list4 .item .inf dl {
    display: none;
  }
}
.news-list .list4 .item .inf dl dd {
  flex: 1;
  line-height: 50px;
  color: #999999;
}
.news-list .list4 .item .inf dl dd + dd {
  text-align: right;
}
.news-detail {
  position: relative;
  margin: 0 0 2px;
}
.news-detail .detail {
  position: relative;
  padding: 30px;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .news-detail .detail {
    padding: 15px;
  }
}
.news-detail .detail .title {
  position: relative;
  text-align: center;
}
.news-detail .detail .title h1 {
  line-height: 1.5;
  font-size: 24px;
  font-weight: normal;
  padding: 10px;
  color: #000000;
}
@media (max-width: 1024px) {
  .news-detail .detail .title h1 {
    font-size: large;
  }
}
.news-detail .detail .desc {
  position: relative;
  text-align: center;
  margin: 0 0 50px;
}
@media (max-width: 1024px) {
  .news-detail .detail .desc {
    margin: 0 0 20px;
  }
}
.news-detail .detail .desc dd {
  display: inline-flex;
  line-height: 2;
  margin: 0 10px;
  color: #999999;
}
@media (max-width: 1024px) {
  .news-detail .detail .desc dd:nth-child(1),
  .news-detail .detail .desc dd:nth-child(3) {
    display: none;
  }
}
.news-detail .detail .content {
  position: relative;
}
.news-detail .detail2 {
  position: relative;
}
@media (max-width: 1024px) {
  .news-detail .detail2 {
    padding: 15px;
  }
}
.news-detail .detail2 .title {
  position: relative;
}
.news-detail .detail2 .title h1 {
  line-height: 1.5;
  font-size: 24px;
  padding: 0 0 15px;
  font-weight: normal;
  color: #000000;
  border-bottom: 1px solid #e5e5e5;
}
@media (max-width: 1024px) {
  .news-detail .detail2 .title h1 {
    font-size: large;
  }
}
.news-detail .detail2 .dist {
  position: relative;
  margin: 0 0 50px;
}
@media (max-width: 1024px) {
  .news-detail .detail2 .dist {
    margin: 0 0 20px;
  }
}
.news-detail .detail2 .dist .desc dd {
  display: inline-flex;
  line-height: 50px;
  margin: 0 20px 0 0;
  color: #999999;
}
@media (max-width: 1024px) {
  .news-detail .detail2 .dist .desc dd:nth-child(1),
  .news-detail .detail2 .dist .desc dd:nth-child(3) {
    display: none;
  }
}
.news-detail .detail2 .dist #share {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 0;
}
@media (max-width: 1024px) {
  .news-detail .detail2 .dist #share {
    display: none;
  }
}
.news-detail .detail2 .content {
  position: relative;
}
/**
 * This is style for case
 **/
.case-list .list {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .case-list .list {
    padding: 8px;
  }
}
.case-list .list .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1440px) {
  .case-list .list .item {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .case-list .list .item {
    width: 100%;
  }
}
.case-list .list .item .cell {
  position: relative;
  margin: 7px;
  display: block;
}
.case-list .list .item .cell:hover .img img,
.case-list .list .item .cell:active .img img {
  transform: scale(1.1);
}
.case-list .list .item .cell:hover .inf,
.case-list .list .item .cell:active .inf {
  background: rgba(0, 0, 0, 0.3);
}
.case-list .list .item .img a {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.case-list .list .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.case-list .list .item .inf {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 50px;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.case-list .list .item .inf h3 {
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}
.case-list .list2 {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .case-list .list2 {
    padding: 8px;
  }
}
.case-list .list2 .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1440px) {
  .case-list .list2 .item {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .case-list .list2 .item {
    width: 100%;
  }
}
.case-list .list2 .item .cell {
  position: relative;
  margin: 7px;
  display: block;
}
.case-list .list2 .item .cell:hover .img img,
.case-list .list2 .item .cell:active .img img {
  transform: scale(1.1);
}
.case-list .list2 .item .cell:hover .inf,
.case-list .list2 .item .cell:active .inf {
  background: rgba(202, 43, 47, 0.8);
}
.case-list .list2 .item .img a {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.case-list .list2 .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.case-list .list2 .item .inf {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px 50px;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.case-list .list2 .item .inf h3 {
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}
.case-list .list3 {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .case-list .list3 {
    padding: 8px;
  }
}
.case-list .list3 .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1440px) {
  .case-list .list3 .item {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .case-list .list3 .item {
    width: 100%;
  }
}
.case-list .list3 .item .cell {
  position: relative;
  margin: 15px;
  display: block;
}
@media (max-width: 1024px) {
  .case-list .list3 .item .cell {
    margin: 7px;
  }
}
.case-list .list3 .item .cell:hover .img a::before,
.case-list .list3 .item .cell:active .img a::before {
  transform: translateY(0);
  opacity: 1;
}
.case-list .list3 .item .cell:hover .img a::after,
.case-list .list3 .item .cell:active .img a::after {
  transform: translateX(0);
  opacity: 1;
}
.case-list .list3 .item .cell:hover .img img,
.case-list .list3 .item .cell:active .img img {
  transform: scale(1.1);
  opacity: 0.3;
}
.case-list .list3 .item .img {
  position: relative;
}
.case-list .list3 .item .img a {
  position: relative;
  display: block;
  padding: 0 0 50%;
  overflow: hidden;
  background: #ca2b2f;
}
.case-list .list3 .item .img a::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  height: 50px;
  margin: -25px 0 0 0;
  border-left: 1px solid #ffffff;
  transform: translateY(60px);
  opacity: 0;
  transition: all 0.3s ease;
}
.case-list .list3 .item .img a::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  width: 50px;
  margin: 0 0 0 -25px;
  border-bottom: 1px solid #ffffff;
  transform: translateX(-60px);
  opacity: 0;
  transition: all 0.3s ease;
}
.case-list .list3 .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.case-list .list3 .item .inf {
  padding: 15px 20px;
  background: #ffffff;
}
.case-list .list3 .item .inf h3 {
  line-height: 40px;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.case-list .list3 .item .inf p {
  height: 50px;
  line-height: 25px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #999999;
}
.case-list .list4 {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .case-list .list4 {
    padding: 8px;
  }
}
.case-list .list4 .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1440px) {
  .case-list .list4 .item {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .case-list .list4 .item {
    width: 100%;
  }
}
.case-list .list4 .item .cell {
  position: relative;
  margin: 7px;
  display: block;
  overflow: hidden;
}
.case-list .list4 .item .cell:hover .img img,
.case-list .list4 .item .cell:active .img img {
  transform: scale(1.1);
}
.case-list .list4 .item .cell:hover .inf,
.case-list .list4 .item .cell:active .inf {
  bottom: 0;
}
.case-list .list4 .item .img a {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.case-list .list4 .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.case-list .list4 .item .inf {
  position: absolute;
  left: 0;
  bottom: -100px;
  right: 0;
  padding: 10px 30px;
  display: block;
  transition: all 0.3s ease;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
@media (max-width: 1024px) {
  .case-list .list4 .item .inf {
    bottom: 0 !important;
  }
}
.case-list .list4 .item .inf h3 {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.case-detail {
  position: relative;
  margin: 0 0 2px;
}
.case-detail .detail {
  position: relative;
  padding: 30px;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .case-detail .detail {
    padding: 15px;
  }
}
.case-detail .detail .title {
  position: relative;
  text-align: center;
  margin: 0 0 40px;
}
.case-detail .detail .title h1 {
  line-height: 1.5;
  font-size: 24px;
  font-weight: normal;
  padding: 10px;
  color: #000000;
}
.case-detail .detail .summary {
  position: relative;
  padding: 30px 60px;
  margin: 0 0 30px;
  background: #f9f9f9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.02) inset;
}
.case-detail .detail .summary::before,
.case-detail .detail .summary::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 40px;
  background: url() 0 0 no-repeat;
}
.case-detail .detail .summary::before {
  left: 10px;
  top: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAoAQMAAADT3dhRAAAABlBMVEUAAADp6elVPkCZAAAAAXRSTlMAQObYZgAAADVJREFUCNdjoDVgPmDDwMB+oIaBQf7gHyhhfxhEsD9gYPjHfoCB4Q97AwPDD34U4v/5PyQRAL12LODiP008AAAAAElFTkSuQmCC);
}
.case-detail .detail .summary::after {
  right: 10px;
  bottom: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAoAQMAAADT3dhRAAAABlBMVEUAAADp6elVPkCZAAAAAXRSTlMAQObYZgAAADFJREFUCNdj+H/+DwNpBPuBGhSiASjG3wgk5Js/AJXwA4l//A+gxA/+BgaGD/wMtAYAIAIsrUMAFvsAAAAASUVORK5CYII=);
}
.case-detail .detail .summary p {
  line-height: 2;
  color: #999999;
}
.case-detail .detail .content {
  position: relative;
}
/**
 * This is style for product
 **/
.product-list .list {
  overflow: hidden;
}
@media (max-width: 1024px) {
  .product-list .list {
    padding: 8px;
  }
}
.product-list .list .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1024px) {
  .product-list .list .item {
    width: 100%;
  }
}
.product-list .list .item .cell {
  position: relative;
  display: block;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1024px) {
  .product-list .list .item .cell {
    margin: 7px;
  }
}
.product-list .list .item .cell:hover .img img {
  transform: scale(1.1);
}
.product-list .list .item .img {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.product-list .list .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.product-list .list .item .inf {
  position: relative;
  background: #ffffff;
  padding: 15px;
}
@media (max-width: 1024px) {
  .product-list .list .item .inf {
    padding: 10px;
  }
}
.product-list .list .item .inf h3 {
  line-height: 40px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .product-list .list .item .inf h3 {
    line-height: 20px;
    font-size: 16px;
  }
}
.product-list .list2 {
  overflow: hidden;
}
@media (max-width: 1024px) {
  .product-list .list2 {
    padding: 8px;
  }
}
.product-list .list2 .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1024px) {
  .product-list .list2 .item {
    width: 100%;
  }
}
.product-list .list2 .item .cell {
  position: relative;
  display: block;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1024px) {
  .product-list .list2 .item .cell {
    margin: 7px;
  }
}
.product-list .list2 .item .cell:hover .img img {
  transform: scale(1.1);
}
.product-list .list2 .item .cell:hover .inf {
  opacity: 1;
  transition: all 0.5s ease;
}
.product-list .list2 .item .img {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.product-list .list2 .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.product-list .list2 .item .inf {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .product-list .list2 .item .inf {
    padding: 20px;
    opacity: 1;
  }
}
.product-list .list2 .item .inf h3 {
  line-height: 40px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .product-list .list2 .item .inf h3 {
    line-height: 20px;
    font-size: 16px;
  }
}
.product-detail {
  position: relative;
  margin: 0 0 2px;
}
.product-detail .detail {
  position: relative;
  padding: 30px;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .product-detail .detail {
    padding: 15px;
  }
}
.product-detail .detail .title {
  position: relative;
  text-align: center;
  margin: 0 0 40px;
}
@media (max-width: 1024px) {
  .product-detail .detail .title {
    margin: 0 0 20px;
  }
}
.product-detail .detail .title h1 {
  line-height: 1.5;
  font-size: 24px;
  font-weight: normal;
  padding: 10px;
  color: #000000;
}
.product-detail .detail .image {
  position: relative;
  text-align: center;
  margin: 0 0 20px;
}
.product-detail .detail .image img {
  max-width: 100%;
}
.product-detail .detail .content {
  position: relative;
}
.product-detail .detail .content .thead {
  position: relative;
  margin: 0 0 15px;
  border-bottom: 1px solid #dddddd;
}
.product-detail .detail .content .thead h2 {
  line-height: 2.4;
  font-size: large;
  color: #333333;
}
.product-detail .detail .content .rich {
  margin: 0 0 30px;
}
.product-detail .detail2 {
  position: relative;
}
.product-detail .detail2 .image {
  float: left;
  width: 500px;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .image {
    float: none;
    width: 100%;
  }
}
.product-detail .detail2 .image img {
  display: block;
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.product-detail .detail2 .swiper {
  float: left;
  width: 400px;
  position: relative;
  background: #ffffff;
}
.product-detail .detail2 .swiper:hover .swiper-button-prev,
.product-detail .detail2 .swiper:hover .swiper-button-next {
  opacity: 1;
}
.product-detail .detail2 .swiper:hover .swiper-button-prev {
  transform: translateX(0);
}
.product-detail .detail2 .swiper:hover .swiper-button-next {
  transform: translateX(0);
}
.product-detail .detail2 .swiper + .inf {
  margin-left: 450px;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .swiper + .inf {
    margin: 0;
    padding: 15px;
  }
}
@media (max-width: 1024px) {
  .product-detail .detail2 .swiper {
    float: none;
    width: 100%;
  }
}
.product-detail .detail2 .swiper .img,
.product-detail .detail2 .swiper .video {
  position: relative;
  padding: 0 0 128%;
  overflow: hidden;
}
.product-detail .detail2 .swiper .img img,
.product-detail .detail2 .swiper .video img,
.product-detail .detail2 .swiper .img video,
.product-detail .detail2 .swiper .video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
}
.product-detail .detail2 .swiper .swiper-button-prev,
.product-detail .detail2 .swiper .swiper-button-next {
  opacity: 0;
  color: #ffffff;
  transition: all 0.3s ease;
}
.product-detail .detail2 .swiper .swiper-button-prev::after,
.product-detail .detail2 .swiper .swiper-button-next::after {
  transform: scale(0.6);
}
.product-detail .detail2 .swiper .swiper-button-prev {
  transform: translateX(-40px);
}
.product-detail .detail2 .swiper .swiper-button-next {
  transform: translateX(40px);
}
.product-detail .detail2 .inf {
  margin: 0 0 0 550px;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .inf {
    margin: 0;
    padding: 15px;
  }
}
.product-detail .detail2 .inf .title {
  padding: 20px 0;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .inf .title {
    padding: 10px 0;
  }
}
.product-detail .detail2 .inf .title h1 {
  line-height: 1.2;
  font-size: xx-large;
  font-weight: normal;
  color: #333333;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .inf .title h1 {
    font-size: large;
  }
}
.product-detail .detail2 .inf .desc {
  padding: 15px 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  color: #999999;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .inf .desc {
    border: 0;
  }
}
.product-detail .detail2 .inf .oks {
  padding: 20px 0;
}
.product-detail .detail2 .inf .oks dd {
  padding: 0 0 0 35px;
  line-height: 40px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAXVBMVEUAAADWAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA/WAA9MzGZdAAAAHnRSTlMA6mcL3bWEv2Id9cmgIvlvXOKteBAG5jd3ST8wLRrK8avQAAAAq0lEQVQY02XRVxbCIBAFUHqHFBNjfftfpoCYk+B8UO6hDAOpwZmkwFUaTvYwWYTWIvvWaA1wKpaRVdO9YYC3pAsDz3vj1J3XPaY3YVAnu6SREIl4oEUiG6HiYNsEVnro3KhXtSEVG2TGOsuTZUZdp9G2z5hHAQxlLGi7aMkCXIpFyF9Kz9SMKLA9+THdqllHef9M7mH6gliP0JUuKoew/hWZmkb7d1DJvqd/AC+iCnxJ48+EAAAAAElFTkSuQmCC) 0 12px no-repeat;
}
.product-detail .detail2 .inf .button {
  padding: 20px 0;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .inf .button {
    display: flex;
  }
}
.product-detail .detail2 .inf .button dd {
  position: relative;
  display: inline-flex;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .inf .button dd {
    flex: 1;
  }
}
.product-detail .detail2 .inf .button dd + dd button,
.product-detail .detail2 .inf .button dd + dd a {
  margin: 0 0 0 20px;
  background: #1e80ff;
}
.product-detail .detail2 .inf .button button,
.product-detail .detail2 .inf .button a {
  width: 150px;
  height: 50px;
  line-height: 50px;
  padding: 0 40px;
  border: 0;
  font-size: 16px;
  background: #ca2b2f;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .inf .button button,
  .product-detail .detail2 .inf .button a {
    width: 100%;
  }
}
.product-detail .detail2 .inf .button button:hover,
.product-detail .detail2 .inf .button a:hover {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
.product-detail .detail2 .inf .button button:hover + .rcode,
.product-detail .detail2 .inf .button a:hover + .rcode {
  display: block;
}
.product-detail .detail2 .inf .button .rcode {
  position: absolute;
  bottom: 70px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .inf .button .rcode {
    display: none !important;
  }
}
.product-detail .detail2 .inf .button .rcode::before,
.product-detail .detail2 .inf .button .rcode::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin: 0 0 0 -15px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #eeeeee;
}
.product-detail .detail2 .inf .button .rcode::after {
  bottom: -28px;
  border-top-color: #ffffff;
}
.product-detail .detail2 .inf .button .rcode img {
  display: block;
  width: 120px;
  height: 120px;
}
.product-detail .detail2 .content {
  position: relative;
  clear: both;
  padding: 30px 0 0 0;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .content {
    padding: 0;
  }
}
.product-detail .detail2 .content .thead {
  position: relative;
  background: #ffffff;
  padding: 0 30px;
  margin: 0 0 2px;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .content .thead {
    padding: 0 15px;
  }
}
.product-detail .detail2 .content .thead h2 {
  line-height: 70px;
  font-size: larger;
  color: #333333;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .content .thead h2 {
    line-height: 50px;
  }
}
.product-detail .detail2 .content .rich {
  position: relative;
  background: #ffffff;
  padding: 30px;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .content .rich {
    padding: 15px;
  }
}
.product-detail .detail2 .model {
  float: left;
  width: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail .detail2 .model.is-loading .model-viewport {
  filter: blur(20px);
}
.product-detail .detail2 .model.is-loading .model-shadow {
  z-index: 5;
  visibility: visible;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .model {
    float: none;
    width: 100%;
    margin: 0 0 20px;
  }
}
.product-detail .detail2 .model .model-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
}
.product-detail .detail2 .model .model-shadow span {
  font-size: 16px;
  color: #dddddd;
}
.product-detail .detail2 .model .model-placeholder {
  position: relative;
  padding: 0 0 66.65%;
  width: 100%;
  z-index: 1;
}
.product-detail .detail2 .model .model-viewport {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 0, transparent 75%, #ccc 0, #ccc), linear-gradient(45deg, #ccc 25%, transparent 0, transparent 75%, #ccc 0, #ccc);
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
}
.product-detail .detail2 .model .model-viewport::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.product-detail .detail2 .model .model-viewport img {
  position: relative;
  display: block;
  height: 100%;
}
.product-detail .detail2 .preview {
  float: left;
  width: 500px;
  position: relative;
  z-index: 10;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .preview {
    float: none;
    width: 100%;
  }
}
.product-detail .detail2 .preview .preview-origin {
  position: relative;
  border: 1px solid #dddddd;
  margin: 0 0 15px;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .preview .preview-origin {
    display: none;
  }
}
.product-detail .detail2 .preview .preview-origin .preview-origin__img {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.product-detail .detail2 .preview .preview-origin .preview-origin__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.product-detail .detail2 .preview .preview-origin .preview-origin__area {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 0, 0.5);
  pointer-events: none;
  cursor: move;
  display: none;
}
.product-detail .detail2 .preview .preview-zoom {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.product-detail .detail2 .preview .preview-zoom .preview-zoom__img {
  position: absolute;
  left: 2px;
  top: 0;
  width: 500px;
  height: 500px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-detail .detail2 .preview .preview-zoom .preview-zoom__img img {
  position: relative;
}
.product-detail .detail2 .preview .preview-swiper {
  position: relative;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .preview .preview-swiper {
    padding: 0;
  }
}
.product-detail .detail2 .preview .preview-swiper .img {
  position: relative;
  width: 65px;
  height: 65px;
  border: 2px solid transparent;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .preview .preview-swiper .img {
    width: auto;
    height: auto;
    border: 0;
    padding: 0 0 100%;
  }
}
.product-detail .detail2 .preview .preview-swiper .img.active {
  border-color: #ca2b2f;
}
.product-detail .detail2 .preview .preview-swiper .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.product-detail .detail2 .preview .swiper-button-prev,
.product-detail .detail2 .preview .swiper-button-next {
  opacity: 0.8;
  color: #999999;
  transition: all 0.3s ease;
}
.product-detail .detail2 .preview .swiper-button-prev::after,
.product-detail .detail2 .preview .swiper-button-next::after {
  transform: scale(0.6);
}
.product-detail .detail2 .preview .swiper-button-prev:hover,
.product-detail .detail2 .preview .swiper-button-next:hover {
  opacity: 0.6;
  color: #ca2b2f;
}
.product-detail .detail2 .preview .swiper-button-prev:active,
.product-detail .detail2 .preview .swiper-button-next:active {
  opacity: 1;
}
@media (max-width: 1024px) {
  .product-detail .detail2 .preview .swiper-button-prev,
  .product-detail .detail2 .preview .swiper-button-next {
    color: #ffffff;
  }
}
.product-detail .detail2 .preview .swiper-button-prev {
  transform: translateX(-5px);
}
.product-detail .detail2 .preview .swiper-button-next {
  transform: translateX(5px);
}
/**
 * This is style for photo
 **/
.photo-list {
  position: relative;
}
.photo-list .list {
  overflow: hidden;
}
@media (max-width: 1024px) {
  .photo-list .list {
    padding: 8px;
  }
}
.photo-list .list .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1024px) {
  .photo-list .list .item {
    width: 100%;
  }
}
.photo-list .list .item .cell {
  position: relative;
  display: block;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1024px) {
  .photo-list .list .item .cell {
    margin: 7px;
  }
}
.photo-list .list .item .cell:hover .img img {
  transform: scale(1.1);
}
.photo-list .list .item .cell:hover .zoom {
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.photo-list .list .item .img {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.photo-list .list .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.photo-list .list .item .inf {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  padding: 10px 30px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.photo-list .list .item .inf h3 {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .photo-list .list .item .inf h3 {
    line-height: 20px;
    font-size: 16px;
  }
}
.photo-list .list .item .zoom {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  transform: scale(0);
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .photo-list .list .item .zoom {
    transform: scale(10);
    opacity: 0;
  }
}
.photo-list .list .item .zoom i {
  display: block;
  width: 60px;
  height: 60px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAllBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AJcWoAAAAMXRSTlMAQMm1f1QYW9i/sg8v9tTNmHFsZd6thyvy5uHEo52QfGAhDAbr0bupjktGOzYe7npoQT25XgAAAaFJREFUOMuFlOeWgjAQRllAelMRe69r2fW+/8stoBtJFPh+TDJz7plMJkWTNOwP4nQURt7CtrRa+cuIig7m9jPXcwBSY3bKkoELoHc+YIELeKu1SG/PgPlbAXaBfcuxyxHSsxzrA+b7Mh2gK21WBBSdgUtluzF81XQCuAlvDtL+lMUMUYlan1p+7zHb6ozlLmwkz8Pxy4mpJkzIqu43LMvJlB85oY6hpiwGC45aI9iH4HEmdjM4fDR5AVozqE0YlBXs2kCDOLcRjoisvwo56OUobtKMNLch01fnZa2e8ROj3I6IX3dN1v0ZzwjLSifiRK7S0sFGnECU2z1h22YGeLl14dYCuixy221tuPUgAkiawTtYxRgxXjeCBodyXMJJqX1edVf/19B3CAOJlLzNntR/fhGga7UyKw/UhUMd14N4K5ai9nlZwPnl2nXkBUjUL2UWvKXLAOXND2MIM0vCzDFgqqQ/B36OtnikSYEZN22lklpHB2DnTF3X3QE4vbKsN3JrTqnIWYo+C1LIshdeFI4me/f3+op2BdmmX/CE0yiT6x+k7D6GpZeKPQAAAABJRU5ErkJggg==) center center no-repeat;
  background-size: 30px;
}
.photo-list .list2 {
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .photo-list .list2 {
    padding: 8px;
  }
}
.photo-list .list2 .item {
  float: left;
  width: 33.33%;
}
@media (max-width: 1024px) {
  .photo-list .list2 .item {
    width: 100%;
  }
}
.photo-list .list2 .item .cell {
  position: relative;
  display: block;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1024px) {
  .photo-list .list2 .item .cell {
    margin: 7px;
  }
}
.photo-list .list2 .item .cell:hover .img img {
  transform: scale(1.1);
}
.photo-list .list2 .item .img {
  position: relative;
}
.photo-list .list2 .item .img a {
  position: relative;
  display: block;
  padding: 0 0 75%;
  overflow: hidden;
}
.photo-list .list2 .item .img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #eeeeee;
  transition: all 0.5s ease;
}
.photo-list .list2 .item .inf {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  padding: 15px 30px;
  z-index: 2;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.photo-list .list2 .item .inf h3 {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .photo-list .list2 .item .inf h3 {
    line-height: 20px;
    font-size: 16px;
  }
}
.photo-detail {
  position: relative;
  margin: 0 0 2px;
}
.photo-detail .detail {
  position: relative;
  padding: 30px;
  background: #ffffff;
}
@media (max-width: 1024px) {
  .photo-detail .detail {
    padding: 15px;
  }
}
.photo-detail .detail .title {
  position: relative;
  text-align: center;
  margin: 0 0 40px;
}
.photo-detail .detail .title h1 {
  line-height: 1.5;
  font-size: 24px;
  font-weight: normal;
  padding: 10px;
  color: #000000;
}
.photo-detail .detail .image {
  position: relative;
  text-align: center;
  margin: 0 0 20px;
}
.photo-detail .detail .image img {
  max-width: 100%;
}
.photo-prew {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.95);
  display: none;
}
@media (max-width: 1024px) {
  .photo-prew {
    background: rgba(0, 0, 0, 0.95);
  }
}
.photo-prew .photo-prew__container {
  position: relative;
}
.photo-prew .photo-prew__container:hover .photo-prew__button,
.photo-prew .photo-prew__container:hover .swiper-pagination,
.photo-prew .photo-prew__container:hover .swiper-button-prev,
.photo-prew .photo-prew__container:hover .swiper-button-next {
  visibility: visible;
}
.photo-prew .photo-prew__content {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.photo-prew .photo-prew__img {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.photo-prew .photo-prew__img .img img {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
}
@media (max-width: 1024px) {
  .photo-prew .photo-prew__img .img img {
    max-width: 100vw;
    max-height: 100vh;
  }
}
.photo-prew .photo-prew__button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  display: inline-flex;
  visibility: hidden;
}
@media (max-width: 1024px) {
  .photo-prew .photo-prew__button {
    visibility: visible;
  }
}
.photo-prew .photo-prew__button button {
  float: left;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  background: rgba(30, 30, 30, 0.6);
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .photo-prew .photo-prew__button button {
    background: rgba(30, 30, 30, 0);
  }
}
.photo-prew .photo-prew__button button:hover i {
  opacity: 1;
}
.photo-prew .photo-prew__button button.zoom {
  display: none;
}
.photo-prew .photo-prew__button button.zoom i {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAn1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8Kd3m4AAAANHRSTlMAifjlrn9A08yqlFkYE+DYu3dmHwwE8OrJsp10cGtMNjMwKCTEwI5gT0Yc89y1ooRkOxAIx9gpfwAAAXhJREFUOMutlNeSgkAQRYcgIJhXzDnrmtY9//9t61BTEgd92PNEXY90dU8zIkktqHqNntlvbm5OKLQchySw/K9ibX4lgzUu8tpIzjtn9QhPy6CKpFXLedEPw1kcfFUsoLfMeBfAnaWzWoUn61Q2lV6+jDTNeiIIgE3hHIBhGNewoCEKmQFGqoIjihmDOU+80BA6PKjGnTTrWrEDLESEDROh5wxtEfEt/6LHh1b04IAlSlgA0cMdLlpLVYxaMGBUKjbUOdpqOFoGMP9I9JRowPWj0nfVvhZTNeNAv8z7AUREv3zgxuuw/fIjbMJere3bpVDfbei+WTM/sZwcNF4FeiuhqFvaxtvALf0RekWeAwzCRDACmsucNwHM9A3UklE7M2mbJ/tTwdWzOXRfwcrgiWXkJrJHYm4rncMxmPguEvvhk1vX5a5HGq/zfPFA+qpQfIENeGEOO1HYrQLbk8iwno62lunaxuz3le0Atys+YKyunPcEjVZX/D9/7R5AeR751x0AAAAASUVORK5CYII=) center center no-repeat;
  background-size: 16px;
}
.photo-prew .photo-prew__button button.thumb {
  display: none;
}
.photo-prew .photo-prew__button button.thumb i {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAPFBMVEUAAAD////////////////////////////////////////////////////////////////////////////YSWgTAAAAE3RSTlMAgH9gIBBA8FDQz3DAoF8wsODfuD65YwAAAONJREFUOMvVlEsOwyAMRE34BEIgbbn/XQsYx1RRU2WBlL4VozELPNgwBO2nQqxCTRVTjYiGbnVLQtYsbGrILMhYsNInwrCXZgCZ+FZB7FoApJ0P4z6F/ryQH7cBODo/qVX8alibDPls5iZsFg9uMGJExm+YjCxCKjaEgWHYBRM1Jfgw1wCD7gyLdWqPVwEEEisaiKI+chfmro/+jln/LPz9mGvtAeuqcoeGk2FhGGbK0DeLRUSFBi2Dax+3HwVeAK/DKPTD9QdZnxQe1p47WXvafVukZDhauVIU8JoSla03NIzgDQphOfC8T975AAAAAElFTkSuQmCC) center center no-repeat;
  background-size: 16px;
}
.photo-prew .photo-prew__button button.close i {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAPFBMVEUAAAD////////////////////////////////////////////////////////////////////////////YSWgTAAAAE3RSTlMAqirUmIR9dWlhV6WhnZKOim9crJ0Z6QAAAIZJREFUOMvt0zkShDAMRFED9ixmp+9/V6hOFMhUKyDkxy+xJaW3h+tSq0/vHLqWwxCSXzohzUm502n5oxPSnJR/OiHNSXnQaVnpApJOF3UVA4pmfEcR0v6lYIu4qw1rG7i5rVi0YwuyB829yibFnmbM2rEZU/COJozasdFfXH9zRzU5md5cJ5n7BZCU/C5aAAAAAElFTkSuQmCC) center center no-repeat;
  background-size: 20px;
}
@media (max-width: 1024px) {
  .photo-prew .photo-prew__button button.close i {
    background-size: 30px;
  }
}
.photo-prew .photo-prew__button button i {
  display: block;
  width: 44px;
  height: 44px;
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .photo-prew .photo-prew__button button i {
    opacity: 0.8;
  }
}
.photo-prew .swiper-pagination {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: auto;
  right: auto;
  z-index: 9;
  text-align: left;
  visibility: hidden;
  line-height: 44px;
}
@media (max-width: 1024px) {
  .photo-prew .swiper-pagination {
    visibility: visible;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
  }
}
.photo-prew .swiper-button-prev,
.photo-prew .swiper-button-next {
  z-index: 9;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  visibility: hidden;
}
.photo-prew .swiper-button-prev::after,
.photo-prew .swiper-button-next::after {
  font-size: 16px;
}
@media (max-width: 1024px) {
  .photo-prew .swiper-button-prev,
  .photo-prew .swiper-button-next {
    display: none;
  }
}
